.Wrapper-watch {
    background-color: #333;
}

.Container-watch {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    padding-top: 80px;
}

.content {
    width: 76%;
}

.SimilarColumn {
    width: 22%;
    height: 600px;
    overflow-y: scroll;
}

@media (max-width: 1023px) {
    .Container-watch {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }
}
