.wrapper-video {
    aspect-ratio: 16/9;
}

// MovieInfor
.wrapper-infor {
    color: #fff;
}

.title-movie {
    font-size: 3rem;
    font-weight: 500;
    line-height: 40px;
    margin: 10px 0px;
}

.overview-movie,
.release-movie {
    font-size: 1.8rem;
    margin: 20px 0px;
}
