@import 'normalize.css';

:root {
    // Default Layout
    --text-color: #161823;
    --white: #ffffff;
    --primary: rgb(231, 76, 60);
    --Header-hight: 62px;

    // Defaule layout
    --font-family: 'Netflix-San';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    overflow: overlay;
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// fonts emba
@font-face {
    font-family: Netflix-San;
    src: url('/assets/fonts/NetflixSans_W_Md.woff2');
    font-weight: 500;
}

@font-face {
    font-family: Netflix-San;
    src: url('/assets/fonts/NetflixSans_W_Rg.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Netflix-San;
    src: url('/assets/fonts/nf-icon-v1-93.woff');
    font-weight: 700;
}

// scroll bar
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #e74c3c;
    border-radius: 4px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #111;
}
